.drag {
    touch-action: none;
    position: absolute;
    top: 0;
    cursor: row-resize;
}

.animateClipPath {
    transition: clip-path 0.5s ease-in-out;
}

.marker {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.hidden {
    opacity: 0;
}
