.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  max-width: 800px;
}

.main {
  padding: var(--padding-content) 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

article img {
  max-width: 780px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

@media (max-width: 800px) {
  article img {
    max-width: 100%;
  }
}
