.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout {
  max-width: 800px;
}

.main {
  padding: var(--padding-content) 1rem;
}

article img {
  max-width: 90vw;
  height: auto;
  display: block;
  margin: 0 auto;
}
