.logo {
  width: 4rem;
  height: auto;
  padding: 0.5rem;
  color: white;
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .logo {
    color: var(--brand-primary);
    background-color: transparent;
    width: 6rem;
  }
}
