/* Button styles */
button {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  background: var(--brand-primary);
  color: #fff;
  font-size: 20px;
  cursor: pointer;

  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: background, color, opacity;

  -webkit-tap-highlight-color: transparent;
}
button[disabled] {
  background: #464646;
  cursor: not-allowed;
}

button .icon {
  display: inline-block;
  width: 0;
  overflow: visible;
}

button .icon svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: top;
  margin-top: 1px;
  transform: translateX(-25px);
  animation: fade-in 0.25s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Quiz styles */
.quiz {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  border: 3px solid var(--brand-primary);
  margin: 40px 0;
  overflow: hidden;
}

.quiz .image {
  display: block;
  margin: -17px;
  margin-bottom: 5px;
  width: calc(100% + 34px);
  max-width: calc(100% + 34px);
  border-radius: 11px 11px 0 0;
  height: auto;
}

.quiz .question {
  width: 100%;
}
.quiz .question * {
  margin: 0;
}

/* Answer styles */

.answer {
  width: 100%;
}
@media (min-width: 600px) {
  .answer {
    width: calc(50% - 5px);
  }
}

.answer button {
  width: 100%;
}

.answer.selected button {
  background: var(--brand-secondary);
}

.answer.answered.selected button {
  background: var(--brand-secondary);
}

.answer.answered.correct button {
  background: #095d09;
}

.answer.answered.faded button {
  opacity: 0.7;
}

/* Result stlyes */

.quiz .result {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

.quiz .result .actionContainer {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.quiz .result.shown .actionContainer {
  opacity: 0;
  z-index: -1;
}

.quiz .result .text {
  display: block;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.quiz .result .text[hidden] {
  display: block;
  opacity: 0;
}

.quiz .result .text {
  max-width: 498px;
  margin: 0 auto;
  text-align: center;
}

.quiz .result .text :last-child {
  margin-bottom: 10px;
}

/* Score styles */

.score {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  background: #fff;
  border-radius: 16px;
  border: 3px solid var(--brand-primary);
  margin: 40px 0;
  overflow: hidden;
}

.score.hidden {
  max-height: calc(100vw - 40px);
}

.score.hidden .image {
  visibility: hidden;
}

.score.hidden .scoreBoard {
  visibility: hidden;
}

.scoreShow {
  display: block;
  position: absolute;
  z-index: 100;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  border-radius: 10px;
  font-size: 2.5rem;
  word-wrap: break-word;
}

.scoreShow.hidden {
  visibility: inherit;
  animation: hide 0.5s ease-in-out forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.score .image {
  display: block;
  width: calc(100vw - 44px);
  height: calc(100vw - 44px);
  max-height: 450px;
  border-radius: 11px 11px 0 0;
  margin: 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.score .scoreBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 1.5rem;
}

.score p {
  margin: 0 auto;
  text-align: center;
}

.score .scoreNumbers {
  margin-top: -1.5rem;
  margin-bottom: -1rem;
}

.score .scoreCorrect {
  font-family: 'Merriweather', serif;
  font-size: 10rem;
}

.score .scoreMax {
  font-family: 'Merriweather', serif;
  font-size: 4rem;
  vertical-align: text-bottom;
}

.score .scorePost {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
}

.score .scoreImagePrefetch {
  display: none;
}

@media (min-width: 800px) {
  .score {
    justify-content: flex-start;
    height: 250px;
    max-height: 250px;
  }

  .score.hidden {
    max-height: unset;
  }

  .score .image {
    height: 244px;
    width: 244px;
    border-radius: 11px 0 0 11px;
  }

  .score .scoreBoard {
    flex-grow: 1;
    margin: 0;
    max-width: 512px;
  }

  .score .scoreNumbers {
    margin-top: -2.5rem;
    margin-bottom: -2rem;
  }
}
