.header {
  position: relative;
}

.has-hero .logo {
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  display: block;
  width: 100vw;
  height: auto;
}

.credit {
  padding: 0.2rem 0.5rem;
  display: block;
  text-align: right;
  font-size: var(--font-detail);
}

@media (min-width: 800px) {
  .has-hero .logo {
    position: static;
    margin: 1rem 0;
  }

  .hero {
    width: 800px;
  }
}
