@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    --font-default: 1.1rem;
    --font-detail: .8rem;
}
