.button-row {
  margin: 2rem 0;
}

.button-row > * {
  margin: 0 1rem 0 0;
}

.button-row > * > * {
  background: var(--brand-primary);
}

@media (max-width: 800px) {
  .button-row > * {
    margin: 0.2rem 0.2rem 0 0;
  }
}
