.button-row {
  margin: 2rem 0;
}

.button-row > a {
  margin: 0 1rem 0 0;
}

a > .sharing-button {
  background-color: var(--brand-primary);
}

@media (max-width: 800px) {
  .button-row > a {
    margin: 0.2rem 0.2rem 0 0;
  }
}
