.breadcrumbs {
    padding: var(--padding-content, 1rem);
    line-height: 1.8;
}

.breadcrumbs > a {
    color: var(--brand-font);
    text-decoration: none;
}

.breadcrumbs > a:not(:last-child):after {
    content: '';
    background-image: url('./arrow.dataurl.svg');
    background-size: cover;

    display: inline-block;
    width: .8em;
    height: .8em;
    margin: 0 .5rem;
}

.breadcrumbs > a:last-child {
    font-weight: 600;
}
