.wrapper {
  margin-top: 1rem;
}

.heading {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.item:last-child > .heading {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.item:not(:last-child) > .panel {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.button {
  color: #444;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
}

.button > h4:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.button[aria-expanded="true"] > h4:before,
.button[aria-selected="true"] > h4:before {
  transform: rotate(45deg);
}

.panel {
  padding: 2rem 0;
  animation: fadein 0.35s ease-in;
}

.panel > p,
.panel > a {
  margin: 0;
}

.panel > h3:first-of-type {
  margin-top: 0;
}

.panel > ul {
  list-style: none;
  padding: 0;
}

.panel > ul > li {
  padding: 0.5rem 0;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
