.accordion-wrapper {
}

.accordion-heading {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.accordion-item:last-child > .accordion-heading {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.accordion-item:first-child > .accordion-panel, .accordion-item:nth-child(2) > .accordion-panel  {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.accordion-button {
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion-button > h3:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion-button[aria-expanded='true'] > h3:before,
.accordion-button[aria-selected='true'] > h3:before {
    transform: rotate(45deg);
}

.accordion-panel {
    padding: 2rem 0;
    animation: fadein 0.35s ease-in;
}

.accordion-panel > p, .accordion-panel > a {
    margin: 0;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}